@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
body{
    font-family: 'Ubuntu', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    /* font-family: 'Roboto Slab', serif; */
}

.container img {
    height: 12rem;
    width: auto;

}

.container h1 {
    color: #14195d;
}

footer {
    height: 10vh;
    background-color: var(--main-bg-color);
    color: rgb(0, 0, 0);
}